body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.progress {
    height: 30px;
    width: 300px;
    border-radius: 20px;
    background-color: #ccc;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.completed {
    height: 30px;
    width: 0;   /* changed via js */
    opacity: 0; /* changed via js */
    border-radius: 20px;
    background: linear-gradient(to right, #ce86e4, #682dac);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 130, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    font-weight: 700;
    transition: width 2s ease;
}

button {
    margin-top: 7px;
    cursor: pointer;
}

